
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="TeamNotes Logo" class="logo">
    </div>
    <div class="container custom-container">
        <h1 class="mt-5 mb-4">Login</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
        <div class="mt-3">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</body>
</html>
