
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="logo-container">
        <img src="{% static 'images/logo.png' %}" alt="TeamNotes Logo" class="logo">
    </div>
    <div class="container custom-container">
        <h1 class="mt-5 mb-4">Edit Profile</h1>
        <div class="loading-overlay" id="loadingOverlay">
            <div class="loading-spinner">
                <i class="fas fa-spinner fa-spin"></i> Saving...
            </div>
        </div>
        <form id="profileForm" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
        </form>
    </div>

    <script>
        document.getElementById('profileForm').addEventListener('submit', function(event) {
            const teamsInput = document.querySelector('#id_teams');
            let enteredValue = teamsInput.value;
            enteredValue = enteredValue.replace(/^"(.*)"$/, '$1');
            const teamsArray = enteredValue.split(',').map(team => team.trim());
            teamsInput.value = JSON.stringify(teamsArray);

            document.getElementById('loadingOverlay').style.display = 'block';
        });

        document.addEventListener("DOMContentLoaded", function() {
            const teamsInput = document.querySelector('#id_teams');
            let enteredValue = teamsInput.value;
            enteredValue = enteredValue.replace(/^"(.*)"$/, '$1');
            teamsInput.value = enteredValue;
        });
    </script>
</body>
</html>