
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="container">
        <div class="w-100 d-flex justify-content-end mb-3">
            <a class="btn btn-outline-primary" href="{% url 'profile' %}">Profile</a>
        </div>
        <div class="w-100 d-flex justify-content-center mb-3">
            <a class="btn btn-success" href="{% url 'main:create_note' %}">Create note</a>
        </div>
        <div class="w-100 d-flex justify-content-center mb-3">
            <form method="GET" action="{% url 'main:dashboard' %}" class="form-inline d-flex">
                <div class="form-group mr-2">
                    <input type="text" name="query" class="form-control" placeholder="Search">
                </div>
                <div class="form-group mr-2">
                    <select name="filter_by" class="form-control">
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="content">Content</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="row flex-row">
            {% for note in all_notes %}
                <div class="col-xs-12 col-sm-6 col-md-4 mb-3 col-lg-3">
                    <div class="card text-white bg-primary h-100" style="max-width: 18rem;">
                        <div class="card-header">{{ note.author }} - {{ note.creation_date|date:"j F Y" }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ note.title }}</h5>
                            <p class="card-text">{{ note.content }}</p>
                        </div>
                        <div class="card-footer">
                          Team: {{ note.team }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'paginator.html' %}
    </div>

  {% block content %}
  {% endblock %}
</div>
</body>

</html>